upstream {{ app_name }} {
    server {{ app_ip }}:{{ app_port }};
}

# The same content should never be available under two different URLs -
# especially not with and without "www." at the beginning, since this can
# cause SEO problems (duplicate content).
#
# That's why you should choose one of the alternatives and redirect the other one.
# Choose between www and non-www, listen on the *wrong* one and redirect to
# the right one -- http://wiki.nginx.org/Pitfalls#Server_Name
server {
    listen 80;

    server_name www.{{ app_fqdn }};

    return 301 $scheme://{{ app_fqdn }}$request_uri;
}

server {
    listen 80;
    server_name {{ app_fqdn }};

    location / {
        proxy_set_header Host              $host;
        proxy_set_header X-Real-IP         $remote_addr;
        proxy_set_header X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        client_max_body_size        10m;
        client_body_buffer_size     128k;
        proxy_connect_timeout       60s;
        proxy_send_timeout          90s;
        proxy_read_timeout          90s;
        proxy_buffering             off;
        proxy_temp_file_write_size  64k;
        proxy_redirect              off;

        proxy_pass http://{{ app_name }};
    }

    include /etc/nginx/conf.d/protect-system-files.conf;
    include /etc/nginx/conf.d/x-ua-compatible.conf;
}
